* {
	box-sizing: border-box;
	
}

body {
	font-family: 'Rubik', sans-serif;
}

.jumbotron {
	text-align: center;
	margin: 40px;
}

h1 {
	font-family: 'Bungee Shade', cursive;
}

#resultTable {
	margin: 20px;
	
}

#formInput {
	float: left;
	margin: 20px;
	border-right: 10px;
}

#musicInput {
	float: right;	
	margin: 20px;
	border-left: 10px;
}

